html {
  width: 100%;
  height: 100%;
}

@font-face {
  font-family: orbitron;
  src: url(../public/orbitron.ttf);
}

body {
  background: linear-gradient(30deg, #1e1038, #241c4b, #630a2fd3, #761239);
  background-size: 240% 240%;
  animation: gradient-animation 28s ease infinite;
  color: #ffffffd2;
  font-size: medium;
  font-weight: bold;
  font-family: orbitron;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

* {
  box-sizing: border-box;
}

main {
  max-width: 400px;
  margin: 30px auto;
}

form {
  border: 2px solid #ffffffcd;
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 10px;
  display: flex;
}

form input[type="text"] {
  background: none;
  border: 0;
  display: block;
  padding: 0 5px;
  width: 100%;
  color: #ffffffcd;
}

form button {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
}

form button svg {
  fill: #ffffffcd;
  height: 18px;
}

div.checkbox {
  cursor: pointer;
}

@media screen and (min-width: 410px) {
  div.task {
    background-color: #141038;
    border-style: groove;
    border-color: #09072c67;
    border-radius: 10px;
    padding: 5px;
    margin-top: 6px;
    margin-left: 15px;
    max-width: 370px;
    display: flex;
    transition: opacity 0.5s linear;
    align-items: center;
  }
}

@media screen and (max-width: 409px) {
  div.task {
    display: flex;
    background-color: #141038;
    border-style: groove;
    border-color: #09072c67;
    border-radius: 10px;
    margin-left: 0px;
    padding: 5px;
    margin-top: 6px;
    transition: opacity 0.5s linear;
    align-items: center;
  }
}
div.task:hover {
  background-color: #441c63;
  border-color: #e8e8e8f5;
  height: 42px;
  align-items: center;
}

div.task svg {
  height: 22px;
  margin-right: 6px;
  fill: #ffffffc7;
}

div.task.done {
  opacity: 0.4;
  border-style: none;
}

div.task span {
  position: relative;
}

div.task span:before {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background-color: #ffffffc7;
  position: absolute;
  top: 10px;
  transition: width 0.3s linear;
}

div.task-name {
  flex-grow: 1;
}

div.task.done span:before {
  width: 100%;
}

button.trash-button {
  background: none;
  border: none;
  cursor: pointer;
}

button.trash-button svg {
  fill: #ffffffcd;
  height: 14px;
}

h1,
h2 {
  text-align: center;
}

h1 {
  font-size: 33px;
}

h2 {
  font-size: 20px;
}

div.my-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-left: 50px;
  font-size: 10px;
  width: 100%;
  height: 55px;
}

div.my-footer svg {
  display: inline-flex;
  height: 25px;
  fill: #ffffffc7;
  cursor: pointer;
}
